*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    $bg: #2e2e2e;
    $bgCard: #1e1e1e;
    $bgButton: #f08c00;
    $text1: #ffffff;
    $text2: #343a40;

    height: 120vh;
    background-color: $bg;
    color: $text1;
}